$verticalTabWidth: 90;
$verticalTabWidthPX: 90px;
$appHeaderHeight: 48;
$appHeaderHeightPX: 48px;
$resizeButtonWidhth: 12;
$resizeButtonWidhthPX: 12px;

#resizableContainer {
  height: 100vh;
}

#resizableDrawer {
  position: relative;
}

#resizableDrawer > div {
  left: $verticalTabWidthPX;
}

#resizeButton {
  padding: 1px;
  min-width: $resizeButtonWidhthPX;
  cursor: COL-RESIZE;
}

#viewMain {
  padding-top: $resizeButtonWidhthPX;
  padding-right: $resizeButtonWidhthPX;
}

.newTreeInputIcon {
  font-size: large !important;
  margin: 0px 6px;
}

#newTreeInput {
  border: 0.5px solid gray;
  border-radius: 3px;
  outline: 0;
}

#fileTabSection {
  .fileTabBox {
    margin-top: 5px;

    .fileTabButton {
      text-transform: none;
    }
  }
}

#treeSection {
  margin-top: 7px;

  .treeItemBox {
    
    div {
      vertical-align: text-bottom;
  
      &.readOnly {
        &:hover {
          background-color: #EEE7E5;
        }
  
        & > div {
          border: none;
          
          input[type="text"] {
            cursor: pointer;
            padding: 0px 5px;
            -webkit-text-fill-color: black
          }
          
          fieldset {
            color: black;
            border: none;
          }
        }
      }

      &.editable {

        & > div {

          input[type="text"] {
            padding: 0px 5px;
          }

          fieldset {
            border: none;
          }
        }

        &.readyToCreateInput {
          
          & > div {
            border: 1px solid green;
          }
        }
  
        &.notReadyToCreateInput {
          
          & > div {
            border: 1.5px solid red !important;
          }
        }
      }
  
    }
  
    svg {
      vertical-align: text-bottom;
    }
  }
}



:export {
  verticalTabWidth: $verticalTabWidth;
  verticalTabWidthPX: $verticalTabWidthPX;
  appHeaderHeight: $appHeaderHeight;
  appHeaderHeightPX: $appHeaderHeightPX;
  resizeButtonWidhth: $resizeButtonWidhth;
  resizeButtonWidhthPX: $resizeButtonWidhthPX;
}

