$verticalTabWidth: 90;
$verticalTabWidthPX: 90px;

#resizableContainer {
  height: 100vh;
}

#resizableDrawer {
  position: relative;
}

#resizableDrawer > div {
  left: $verticalTabWidthPX;
}

#resizableDrawerHeader {
  min-height: 48px;
}

#resizeButton {
  padding: 1px;
  min-width: 12px;
  cursor: COL-RESIZE;
}

.treeItem {
  white-space: nowrap;
}

:export {
  verticalTabWidth: verticalTabWidth
}