#resizableContainer {
  height: 100vh;
  width: 100vw;
}

#resizableDrawer {
  position: relative;
}

#resizeButton {
  padding: 1px;
  min-width: 12px;
  cursor: COL-RESIZE;
}

.treeButton {
  text-transform: none !important;
  padding: 1px !important;
  white-space: nowrap;
  min-width: 0 !important;
}

.treeIcon {
  margin-right: 5px;
}

#recursiveTreeSection {
  padding: 5px;
}

.childRecursiveTreeSection {
  margin-left: 15px;
}